{% extends 'base.html' %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls:create' %}" method="post">
    {% csrf_token %}
    <label for="users">User Ids</label>
    <input type="text" name="users" value="">
    <label for="area">Search Area</label>
    <input type="text" name="area" value="">
    <label for="category">Category</label>
    <input type="text" name="category" value="">
    <input type="submit" value="create">
</form>
{% endblock %}