{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <link href="{% static 'static/css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="profile-row">
            <img class="img-circle" src="{{ request.user.picture.url }}" alt="user profile picture" />
            <div class="info">
                <p>{{ request.user.name }}</p>
                <a href="/groups/create/">My groups</a>
            </div>
        </div>
    </div>
    {% if current_question_list %}
        <div class="poll_list">
            <p class="section_title">Today Choosing</p>
            <ul>
                {% for question in current_question_list|dictsortreversed:"id" %}
                    <li {% if forloop.last %} class='last'{% endif %}>
                        <span>#{{ question.id }}</span>
                        <a href="{% url 'polls:detail' question.id %}">
                            {{ question.created|date:"m월 d일 (D)" }}
                            {{ question.created|time:"H시 i분" }}
                        </a>
                        {% if question.completed %}
                            {%  with question.question_venues|dictsortreversed:"rating"|first as first_qv %}
                                <p>{{ first_qv.venue.name }}
                                {{ first_qv.rating }} / 5.0</p>
                            {% endwith %}
                        {% else %}
                            <div class="members">
                                {% for answer in question.answer_set.all %}
                                    <img class="img-circle" src="{{ answer.user.picture.url }}" />
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if past_question_list %}
        <div class="poll_list">
            <p class="section_title">Past Choosing</p>
            {% include '_home_poll_list.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <a href="/polls/create/">Create a Choosing</a>
{% endblock %}