{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <link href="{% static 'static/css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="profile-row">
            <img class="img-circle" src="{{ request.user.picture.url }}" alt="user profile picture" />
            <div class="info">
                <p>{{ request.user.name }}</p>
                <a href="/groups/create/">My groups</a>
            </div>
        </div>
    </div>
    {% if not current_question_list and not past_question_list %}
        <div class="no_poll_list">
            <p>Choosing이 없는 계정입니다.</p>
            <a href="/polls/create/">Create a Choosing</a>
        </div>
    {% endif %}
    {% if current_question_list %}
        <div class="poll_list">
            <p class="section_title">Today Choosing</p>
            {% include '_home_poll_list.html' %}
        </div>
    {% endif %}
    {% if past_question_list %}
        <div class="poll_list">
            <p class="section_title">Past Choosing</p>
            {% include '_home_poll_list.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <a href="/polls/create/">Create a Choosing</a>
{% endblock %}