{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Choosing</title>

        <link href="{% static 'components/initialize-css/dist/initialize.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'components/material-design-lite/material.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'static/css/base.css' %}" rel="stylesheet" type="text/css">
        <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" rel="stylesheet" type="text/css">

        {% block header %}
        {% endblock %}
    </head>
    <body>
        <div class="layout">
            <header>
                <div class="header_row">
                    <a href="{% url 'home' %}">
                        <span class="title">Choosing</span>
                    </a>
                </div>
            </header>
            <main class="content">
                <div class="page-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
            <footer>
                {% block footer %}
                {% endblock %}
            </footer>
        </div>
        <script src="{% static 'components/material-design-lite/material.min.js' %}" type="text/javascript"></script>
    </body>
</html>